<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "名前" %>
    <%= form.text_field :name, id: :story_name %>
  </div>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, id: :story_title, size: "100" %>
  </div>

  <div class="field">
    <%= form.label :department_id, "学類" %>
    <%= form.collection_select :department_id, Department.all, :id, :name ,:department_id => 1 %>
  </div>

  <div class="field">
    <p>時期</p>
    <%= form.label :year, "年次"%>
    <%= select_tag 'story[year]', options_for_select([["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]]) %>
    <%= form.label :month, "月"%>
    <%= select_tag 'story[month]', options_for_select([["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"]]) %>
  </div>


  <div class="field">
    <%= form.label :category_id, "カテゴリー" %>
    <%= form.collection_select :category_id, Category.all, :id, :name ,:category_id => 1 %>
  </div>

  <div class="field">
    <%= form.label :company, "企業名" %>
    <%= form.text_field :company, id: :story_company %>
  </div>

  <div class="field">
    <%= form.label :content, "体験談" %>
    <%= form.text_area :content, id: :story_content, size: "100x10" %>
  </div>

  <div class="actions">
    <%= form.submit "体験談を投稿する", :class => 'btn btn-primary' %>
  </div>
<% end %>
