<p id="notice"><%= notice %></p>

<h1>体験談一覧</h1>

<%= link_to '新しい体験談を投稿する', new_story_path, :class => 'btn btn-primary'%>

<!--検索機能-->
<form name="search_form" method="get">
  <strong>絞り込み</strong><br>学類：
  <% @departments = Department.all %>
  <select name="department_select">
    <option value="0">指定しない</option>
    <% @departments.each do |dep| %>
      <% if params["department_select"].to_i == dep.id %>
        <option value="<%= dep.id %>" selected="selected"><%= dep.name %></option>
      <% else %>
        <option value="<%= dep.id %>"><%= dep.name %></option>
      <% end %>
    <% end %>
  </select>　カテゴリ：
  <% @categories = Category.all %>
  <select name="category_select">
    <option value="0">指定しない</option>
    <% @categories.each do |cat| %>
      <% if params["category_select"].to_i == cat.id %>
        <option value="<%= cat.id %>" selected="selected"><%= cat.name %></option>
      <% else %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
      <% end %>
    <% end %>
  </select>　

  <!--ソート方法-->
  <select name="sort_type">
    <% slc0 = '' %>
    <% slc1 = '' %>
    <% slc2 = '' %>
    <% if params["sort_type"] == '1' %>
      <% slc1 = "selected='selected'" %>
    <% elsif params["sort_type"] == '2' %>
      <% slc2 = "selected='selected'" %>
    <% else %>
      <% slc0 = "selected='selected'" %>
    <% end %>

    <option value="0" <%= slc0 %> >新しい順に表示</option>
    <option value="1" <%= slc1 %> >いいね順に表示</option>
    <option value="2" <%= slc2 %> >時期で表示</option>
  </select>

  <% if params["sort_type"] == '2' %>
  <select name="year">
    <% for num in 1..4 do %>
      <% if params["year"] == num.to_s %>
        <option value=<%= num %> selected="selected"><%= num %></option>
      <% else %>
        <option value=<%= num %> ><%= num %></option>
      <% end %>
    <% end %>
  </select>年次
  <select name="month">
    <% for num in 1..12 do %>
      <% if params["month"] == num.to_s %>
        <option value=<%= num %> selected="selected"><%= num %></option>
      <% else %>
        <option value=<%= num %> ><%= num %></option>
      <% end %>
    <% end %>
  </select>月
  <% end %>

  <% if params["sort_type"] == '0' %>
    <% @stories = Story.order('created_at DESC').all %>
  <% elsif params["sort_type"] == '1' %>
    <% @stories = Story.order('like_count DESC').all %>
  <% elsif params["sort_type"] == '2' %>
    <% @stories = Story.where(year: params["year"].to_i, month: params["month"].to_i) %>
  <% end %>

<% if params["department_select"].to_i > 0 %>
  <% @stories = @stories.where(department_id: params["department_select"]) %>
<% end %>
<% if params["category_select"].to_i > 0 %>
  <% @stories = @stories.where(category_id: params["category_select"]) %>
<% end %>

  <input type="submit" value="検索">
</form>

<!--検索機能ここまで-->

<% if @stories.length == 0 %>

  <table class="table table-bordered">
    <tr>
      <td>現在、該当する投稿はありません。</td>
    </tr>
  </table>

<% else %>

  <% @stories.each do |story| %>
    <% cat_id = story.category_id %>
    <% cls = "cat_bg" + cat_id.to_s %>
    <table class="table table-bordered">
      <tr class="<%= cls %>">
        <th colspan="3"><%= story.title %><div align="right"><%= story.category.name %></div></th>
      </tr>
      <tr>
        <td><%= story.department.name %></td>
        <td><%= story.company %></td>
        <td>大学<%= story.year %>年　<%= story.month %>月</td>
      </tr>

      <tr>

<!--<%= link_to "いいね", story_like_path(story), method: :patch, remote: true %> -->
<%= story.like_count %>
        <td colspan="3"><%= truncate(simple_format(story.content), length: 160, escape: false) %><br><%= link_to 'もっと見る', story_path(story, department_select: params["department_select"], category_select: params["category_select"]), :class => 'btn btn-success pull-right' %></td>
        <!--<td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
      <tr>
        <td colspan="3" class="border-only-top created-at">投稿日：<%= story.created_at.to_s.split(" ")[0] %></td>
      </tr>
    </table>
  <% end %>
<% end %>

  <p id="pageTop">
    <%= link_to 'Page top', "#", :class => 'btn btn-default'%>
  </p>
