<p id="notice"><%= notice %></p>

<h1>体験談一覧</h1>

<table>
    <% @stories.each do |story| %>
      <tr>
        <th>名前：</th>
        <td><%= story.name %></td>
      </tr>
      <tr>
        <th>体験談：</th>
        <td><%= story.content %></td>
        <td><%= link_to '詳細ページ', story %></td>
        <!--<td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
</table>

<br>

<%= link_to '新しい体験談を投稿する', new_story_path %>
