<p id="notice"><%= notice %></p>

<h1>体験談詳細</h1>
<!-- <% params["department_select"] = @story.department.name %> -->

<%= link_to "いいね", story_like_path(@story), method: :patch, remote: true %>
<%= @story.like_count %>

<table class="table table-bordered" width="60%">
  <col width="15%">
  <col width="45%">

  <tr class="bg-primary">
    <th colspan="2"><div class="title_text"><%= @story.title %></div></th>
  </tr>

  <tr>
    <td rowspan="4" class="centering_icon">
      <%= image_tag 'man_icon.png', :size => '80x80' %><br />
      <%= @story.name %>　さん<br />
        (<%= link_to @story.department.name, stories_path+'/?department_select='+@story.department.id.to_s, :class => 'textlink' %>)
      </td>
    <td>【時期】<%= @story.year %>年次<%= @story.month %>月</td>
  </tr>
  <tr>
    <td>【企業名】<%= @story.company %></td>
  </tr>
  <tr>
    <td>【カテゴリ】<%= link_to @story.category.name, stories_path+'/?category_select='+@story.category.id.to_s, :class => 'textlink' %></td>
  </tr>
  <tr>
    <td>【投稿日】<%= @story.created_at.to_s.split(" ")[0] %></td>
  </tr>
  <tr>
    <td colspan="2"><div class="content_pad"><%= simple_format(@story.content) %></div></td>
  </tr>
</table>



<!-- <div class="share container">
		<div class="row">
			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="twitterbtn">
          <script language="JavaScript">document.write("URL:"+location.href);</script>
					<a href="http://twitter.com/share?url=サイトのurl&text=ツイートに表示する文章&via=ツイッターのアカウント名" target="_blank">Twitter</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="facebookbtn">
					<a href="http://www.facebook.com/sharer.php?u=サイトのurl" target="_blank">Facebook</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="linebtn">
					<a href="http://line.me/R/msg/text/?投稿する文章とサイトのurl" target="_new">LINE</a>
				</div>
			</div>
		</div>
	</div> -->





<!-- <%= link_to 'Edit', edit_story_path(@story) %> | -->　
<%= button_tag '一覧に戻る', onclick: 'history.back()', :class => 'btn btn-primary' %>
