<p id="notice"><%= notice %></p>

<h1>体験談詳細</h1>
<!-- <% params["department_select"] = @story.department.name %> -->

<p>
  <strong>投稿者 :</strong>
  <%= @story.name %> さん

  （<%= link_to @story.department.name, stories_path+'/?department_select='+@story.department.id.to_s, :class => 'textlink' %> <%= @story.year %>年卒業）
</p>

<p>
  <strong>カテゴリ :</strong>
  <%= link_to @story.category.name, stories_path+'/?category_select='+@story.category.id.to_s, :class => 'textlink' %>
</p>

<p>
  <strong>企業名 :</strong>
  <%= @story.company %>
</p>

<p>
  <strong>体験談:<br /></strong>
  <%= @story.content %>
</p>


<div class="share container">
		<div class="row">
			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="twitterbtn">
          <script language="JavaScript"><!--document.write("URL:"+location.href);// --></script>
					<a href="http://twitter.com/share?url=サイトのurl&text=ツイートに表示する文章&via=ツイッターのアカウント名" target="_blank">Twitter</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="facebookbtn">
					<a href="http://www.facebook.com/sharer.php?u=サイトのurl" target="_blank">Facebook</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="linebtn">
					<a href="http://line.me/R/msg/text/?投稿する文章とサイトのurl" target="_new">LINE</a>
				</div>
			</div>

		</div>
	</div>





<!-- <%= link_to 'Edit', edit_story_path(@story) %> | -->
<%= link_to '一覧に戻る', stories_path, :class => 'btn btn-primary' %>
