<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>体験談:</strong>
  <%= @story.content %>
</p>

<!-- <%= link_to 'Edit', edit_story_path(@story) %> | -->
<%= link_to '一覧に戻る', stories_path %>
