<p id="notice"><%= notice %></p>

<p>
  <strong>投稿者 :</strong>
  <%= @story.name %>

  （<%= @story.department.name %>
  <%= @story.year %>年卒業）
</p>

<p>
  <strong>カテゴリ :</strong>
  <%= @story.category.name %>
</p>

<p>
  <strong>企業名 :</strong>
  <%= @story.company %>
</p>

<p>
  <strong>体験談:<br /></strong>
  <%= @story.content %>
</p>

<!-- <%= link_to 'Edit', edit_story_path(@story) %> | -->
<%= link_to '一覧に戻る', stories_path %>
