<p id="notice"><%= notice %></p>

<h1>体験談詳細</h1>




<table class="table table-bordered" width="60%">
  <col width="25%">
  <col width="55%">

  <tr class="bg-primary">
    <th colspan="3">
      <div class="title_text"><%= @story.title %></div>
    </th>
  </tr>

  <tr>
    <td rowspan="4" class="centering_icon">
      <%= image_tag 'man_icon.png', :size => '80x80' %><br />
      <%= @story.name %>　さん<br />
        (<%= link_to @story.department.name, stories_path+'/?department_select='+@story.department.id.to_s, :class => 'textlink' %>)
      </td>
    <td>【時期】<%= @story.year %>年次<%= @story.month %>月</td>
    <td rowspan="2" style="text-align: center;">
      <%= link_to "いいね", story_like_path(@story), method: :patch, remote: true, :class => 'btn btn-danger' %>
      <%
        if @story.like_count.nil?
          like_c = 0
        else
          like_c = @story.like_count
        end
      %>
      <%= like_c %>
    </td>
  </tr>
  <tr>
    <td>【企業名】<%= @story.company %></td>
  </tr>
  <tr>
    <td colspan="2">【カテゴリ】<%= link_to @story.category.name, stories_path+'/?category_select='+@story.category.id.to_s, :class => 'textlink' %></td>
  </tr>
  <tr>
    <td colspan="2">【投稿日】<%= @story.created_at.to_s.split(" ")[0] %></td>
  </tr>
  <tr>
    <td colspan="3"><div class="content_pad"><%= simple_format(@story.content) %></div></td>
  </tr>
</table>



<!-- <div class="share container">
		<div class="row">
			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="twitterbtn">
          <script language="JavaScript">document.write("URL:"+location.href);</script>
					<a href="http://twitter.com/share?url=サイトのurl&text=ツイートに表示する文章&via=ツイッターのアカウント名" target="_blank">Twitter</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="facebookbtn">
					<a href="http://www.facebook.com/sharer.php?u=サイトのurl" target="_blank">Facebook</a>
				</div>
			</div>

			<div class="sharebtns col-xs-6 col-sm-4">
				<div class="linebtn">
					<a href="http://line.me/R/msg/text/?投稿する文章とサイトのurl" target="_new">LINE</a>
				</div>
			</div>
		</div>
	</div> -->





<!-- <%= link_to 'Edit', edit_story_path(@story) %> | -->　
<%= link_to '一覧に戻る', stories_path(department_select: params["department_select"], category_select: params["category_select"]), :class => 'btn btn-primary' %>
